/*base css*/

:root {
    --color1: #22223b;
    --color2: #4a4e69;
    --color3: #9a8c98;
    --color4: #c9ada7;
    --color5: #f2e9e4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
/*hiding scrollbar for firefox*/
html{
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display: none;
}
/*end*/
a {
    text-decoration: none;
}

.center-x {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.center-flex-x {
    justify-content: center;
}

.center-flex-y {
    align-items: center;
}
/*base css end*/
