/*base css*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

:root {
    --color1: #22223b;
    --color2: #4a4e69;
    --color3: #9a8c98;
    --color4: #c9ada7;
    --color5: #f2e9e4;
}

a {
    text-decoration: none;
}

.center-x {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.center-flex-x {
    justify-content: center;
}

.center-flex-y {
    align-items: center;
}
/*base css end*/
