/*@import*/
@import url("base-css.css");
@import url(btn-styles.css);
@import url(imput-styles.css);
@import url(icons-styles.css);
/*@import end*/

/*common components*/
/*------*/

#menu {
    background: var(--color1);

    width: 100vw;
    height: 6rem;
    padding: 0.5rem 2rem;

    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-btn{
    width: 10%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5rem;
}

.menu-container > .logo {
    height: 5rem;
    margin: 0 auto;
}

.menu-container > .search-col {
    width: 60%;
}

.menu-container > .button-col{
    width: 20%;
}

.menu-container > .button-col{
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
}

.cart-link {
    margin: 0 2rem;
    font-size: 1.5rem;
    color: var(--color5);
}

@media screen and (max-width: 1366px) {

    .display-xl-none {
        display: none;
    }

}
